@media screen and (min-width: calc($desktop-width + 1px)) {
    .reviews {
        max-width: $container;
        margin: auto;
    }
}

@media screen and (max-width: 1800px) {
    .promo {

        &__heading-texts {
            flex-direction: column;
        }

        &__heading-text {

            &:first-child {
                max-width: 100%;
            }

            &:last-child {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .promo {
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 1300px) {
    .promo {

        &__statistic-cards {
            gap: 40px;
        }
    }
}

@media screen and (max-width: 1200px) {

    .section-title {
        font-size: 50px;
    }

    .promo {

        &__heading {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__heading-info {
            margin-top: 40px;
            max-width: 100%;
        }

        &__heading-texts {
            gap: 20px;
        }

        &__footer {
            align-items: flex-end;
        }

        &__statistic-title {
            font-size: 110px;
        }

        &__statistic-sub {
            font-size: 50px;
        }

        &__statistic-text {
            font-size: 16px;
            line-height: 110%;
        }
        

        &__top-works {
            width: calc(417px / 1.5);
            height: calc(193px / 1.5);
        }

        &__tg-link {
            right: 70px;
        }
    }

    .service {

        &__title {
            font-size: clamp(40px, 4vw, 70px);
        }
    }
}

@media screen and (max-width: 1024px) {
    .advantages__heading,
    .service__heading,
    .difference__heading,
    .reviews__heading,
    .questions__heading {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    .advantages{

        &__cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0;
            width: 100%;
        }

        &__card {
            &:nth-child(1), &:nth-child(2) {
                max-width: calc(50% - (20px / 2));
                width: 100%;
            }

            &:last-child {
                margin-top: 20px;
                width: 100%;
            }

            &:last-child &-text {
                max-width: 500px;
            }
        }
    }

    .service {

        &__title {
            font-size: 50px
        }
        
        &__link {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 900px) {
    .main-title, .section-title {
        font-size: clamp(30px, 8vw, 70px);
    }

    .main-text {
        font-size: 18px;
        line-height: 120%;
    }

    .promo {
        padding: 50px;

        &__heading-texts {
            padding-right: 0;
        }

        &__footer {
            position: relative;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 50px;
        }

        &__statistic-cards {
            max-width: 100%;
            gap: 50px;
        }

        &__statistic-title {
            font-size: 150px;
            font-size: clamp(40px, 17vw, 150px);
        }

        &__statistic-text {
            max-width: 150px;
        }

        &__top-works {
            display: none; // ВРЕМЕННО!
        }
    }

    .advantages {

        &__heading {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__heading-info {
            margin-top: 20px;
            max-width: 100%;
        }

    }
}

@media screen and (max-width: 768px) {
    .section {
        margin-top: 100px;
    }

    .promo {
        padding: 30px;

        
        &__statistic-sub {
            font-size: clamp(20px, 10vw, 150px);
        }
    }
    .advantages{
        margin-top: 100px;

        &__cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        &__card {
            min-height: 300px;

            &:nth-child(1), &:nth-child(2) {
                max-width: 100%;
            }
        }

        &__card-content {
            margin-top: 60px;
        }

        &__card-text {
            max-width: 500px;
        }

    }
}

@media screen and (max-width: 480px) {
    .section-link {
        
        &__text {
            font-size: 14px;
            padding: 0px 30px;
        }

        &__icon {
            width: 90px;
        }
    }

    .promo {
        padding-bottom: 50px;

        &__statistic-cards {
            gap: 20px;
        }

        &__statistic-text {
            font-size: 14px;
        }

        &__footer {
            margin-top: 50px;
        }
    }

    .advantages{

        &__card-icon {
            width: 60px;
            height: 60px;
        }
    }
}