.service {

    &__heading {
        @include flex-start-between;
    }

    &__title-wrap {
        @include column;
    }

    &__title {
        max-width: 690px;
    }

    &__link {
        margin-top: 67px;
    }

    .scroll-section {
        display: flex;
        height: 400vh;
        position: relative;
        justify-content: space-between;
        gap: 40px;
    }
    
    .text-section {
        height: 100vh;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        opacity: 0;        
        transition: opacity 0.5s; 
    }
    
    .text-section.active {
        opacity: 1;      
    }
    
    .text-item {
        max-width: 740px;
        width: 100%;
        border: 1px solid rgba($light, 0.08);
        border-radius: $border-radius;
        padding: 47px;
    }
    
    .text-item h2 {
        font-size: 30px;
        margin-bottom: 1.5rem;
    }
    
    .text-item p {
        font-size: 22px;
        line-height: 30px;
        max-width: 434px;
    }
    
    .video-container {
        @include column;
        margin-top: -50px;
        position: sticky;
        top: 10vh;
        height: 100vh;

        &::before {
            position: absolute;
            content: '';
            right: 0;
            top: -5vh;
            width: 1170px;
            height: 90vh;
            background: url(../img/service-bg.png) no-repeat center / cover;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: -25%;
            right: -50%;
            width: 50vw;
            height: 50vw;
            background: $accent;
            filter: blur(100px);
            border-radius: 50%;
            opacity: 0.6;
            z-index: -1;
            pointer-events: none;
            animation: blob 8s infinite linear;
            opacity: 0.2;
        }
    }
    
    .video-wrapper {
        position: relative;
        aspect-ratio: 425 / 875;
        height: 80vh;
        width: auto;
        max-width: 425px;
        max-height: 875px;
        background: url(../img/phone.png) no-repeat center / cover;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .video-item {
        position: absolute;
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        left: calc(50% + 2px);
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: inherit;
        z-index: -1;
        border-radius: 15%;
    }
    
    .video-item.active {
        opacity: 1;
    }
    
     /* Мобильная версия */
     .mobile-section {
        display: none;
    }
    
    .mobile-item {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .mobile-text {
        max-width: 740px;
        width: 100%;
        border: 1px solid rgba($light, 0.08);
        border-radius: $border-radius;
        padding: 25px;

        h2 {
            font-size: 30px;
            margin-bottom: 1.5rem;
        }
        
        p {
            font-size: 18px;
            line-height: 30px;
            max-width: 434px;
            line-height: 120%;
        }
    }
    
    .mobile-video {
        height: 50vh;
        width: 100%;
        overflow: hidden;
        border-radius: 15px;
    }
    
    .mobile-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    @media (max-width: 900px) {
        .scroll-section {
            display: none;
        }
        
        .mobile-section {
            display: block;
        }
    }
}

