.tariffs {

    &__heading {
        @include flex-start-between;
    }

    &__title-wrap {
        @include column;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        max-width: 550px;
    }

    &__title-sub {
        max-width: 686px;
    }

    &__cards {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 35px;
        border: 1px solid rgba($light, 0.15);
        align-self: stretch;
        overflow: hidden;
        padding-bottom: 50px;

        &:hover .tariffs__time::before {
            opacity: 1;
        }
    }

    &__time {
        text-align: center;
        color: $light;
        font-size: 30px;
        line-height: 120%;
        padding-block: 28px;
        background: transparent;
        transition: all 0.3s ease-in-out;
        width: 100%;
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(66deg, #14CF93 0%, #0A694B 100%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: -1;
        }
    }

    &__price-wrap {
        margin-top: 75px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__price-title {
        font-size: clamp(30px, 2.8vw, 50px);
        font-family: Geist, sans-serif;
        line-height: 100%;
        font-weight: bold;
    }

    &__price-sub {
        font-size: clamp(20px, 1.6vw, 30px);
        color: $accent;
        font-weight: bold;
    }

    &__price-info {
        margin-top: 6px;
        font-size: 20px;
        opacity: 0.3;
    }

    &__list {
        padding: 0px 51px;
        margin-top: 57px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;
    }

    &__link {
        padding: 0px 51px;
        width: 100%;
        margin-top: 65px;

        .section-link__text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-color: #757575;
            color: #757575;
            transition: all 0.2s ease;

            &:hover {
                color: $light;
                border-color: $light;
            }
        }
    }

    &__item {
        position: relative;
        line-height: 26.4px;
        padding-left: 21.5px;

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 13px;
            height: 13px;
            background: url(../img/tariffs-item-star.svg) no-repeat center / cover;
        }
    }

    &__desc-wrap {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    &__desc {
        display: inline-block;
        color: #6A6A6A;
    }

    &__offer-link {
        width: 100%;
        color: #6A6A6A;
        transition: color 0.05s ease-in-out;

        &:hover {
            color: $accent;
        }
    }
    
}